.heading {
  color:orange;
  text-align: center;

}

.infoSection {
  margin-top: 50px;
  margin-bottom: 50px;
}

.commentsTable {
  /* border:1px solid black; */
  font-size: 20px;
}

.date{
  /* text-align: center; */
  /* border:1px solid black; */
  width: 250px;
}
.time{
  /* text-align: center; */
  /* border:1px solid black; */
  width: 250px;
}
.author{
  /* text-align: center; */
  /* border:1px solid black; */
  width: 350px;
}
.comment{
  /* text-align: center; */
  /* border:1px solid black; */
  width:550px;
}
