.heading {
  color:orange;
  text-align: center;

}

.infoSection {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}

.commentsTable {
  margin-top: 10px;
  font-size: 20px;
}

.date{
  width: 250px;
}
.time{
  width: 250px;
}
.author{
  width: 350px;
}
.comment{
  width:550px;
}
.commentHeading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.reload {
  width:25px;
  height:25px;
}