.heading {
  color:orange;
  text-align: center;

}

.infoSection {
  margin-top: 50px;
  margin-bottom: 50px;
}

.commentsTable {
  font-size: 20px;
}

.date{
  width: 250px;
}
.time{
  width: 250px;
}
.author{
  width: 350px;
}
.comment{
  width:550px;
}
